<div class="header">
</div>
<div class="resource-list">
  <h2>
    Delicious Jams and Jellies from our kitchen straight to yours
  </h2>
  <img src="../assets/images/s .jpeg" alt="fresh strawberry jelly in a clear jar">
  <img src="../assets/images/pexels-markus-spiske-96580.jpeg" alt="strawberry jelly with mixed matched tops">
  <img src="../assets/images/pexels-pixabay-48817.jpeg" alt="">
  <ul>
    <li>
      <a href="https://www.allrecipes.com/recipe/16383/basic-crepes/">Delicious on crepes!</a>
      <img src="../assets/images/crepes.jpeg" alt="">
    </li>
    <li>
      <a href="https://www.allrecipes.com/recipe/6760/challah-i/">And on toast of course!</a>
  </ul>
  <p>six-one-five-seven-zero-seven-four-seven-zero-one</p>
  <p> swapped number: 615-707-4701</p>
</div>

<div data-tf-live="01HRYZP0JQ4JVWCC65Y9DDP6PW"></div><script src="//embed.typeform.com/next/embed.js"></script>

<footer class="footer">
  Made with <a href="https://netlify.com"><img src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1646714899/netliheart_ezlkim.svg" alt="Netlify Logo" /></a> for you!
</footer>
